menu "Project Specific Configuration"

    menu "Components"

        menu "WIFI"

            config RGB_CONTROLLER_AP_SSID
                string "AP WiFi SSID"
                default "myssid"
                help
                SSID (network name) for the example to connect to.

            config RGB_CONTROLLER_AP_PWD
                string "AP WiFi Password"
                default "mypassword"
                help
                WiFi password (WPA or WPA2) for the example to use.
                    
            config RGB_CONTROLLER_MAX_STA_CON
                int "AP Maximal STA connections"
                default 4
                help
                Max number of the STA connects to AP.

            config RGB_CONTROLLER_MAX_RETRIES
                int "AP Maximal Number of retries to the sta"
                default 5
                help
                AP Maximal Number of retries to the STA.

        endmenu

        menu "RGB Led Strip"

            config RGB_CONTROLLER_R_Channel
                int "GPIO For the R channel"
                default 19
                help
                Select the GPIO where to connect the R led strip

            config RGB_CONTROLLER_G_Channel
                int "GPIO For the G channel"
                default 5
                help
                Select the GPIO where to connect the G led strip
                    
            config RGB_CONTROLLER_B_Channel
                int "GPIO For the B channel"
                default 18
                help
                Select the GPIO where to connect the B led strip

        endmenu

        menu "MQTT"

            config MQTT_DEF_BROKER
                string "Default Broker"
                default "mqtt://192.168.1.2"
                help
                Default broker address to try on first connect the default port is 1883

            config MQTT_SUBSCRIBERS
                int "Number of subscribers"
                default 3
                help
                Number of topics to subscribe. Fill the structure with the correct number of subscribers configured here
        
        endmenu

        menu "MDNS"
            config MDNS_HOSTNAME
                string "mDNS Hostname"
                default "esp32-mdns"
                help
                    mDNS Hostname for example to use

            config MDNS_INSTANCE
                string "mDNS Instance Name"
                default "ESP32 with mDNS"
                help
                    mDNS Instance Name for example to use
        endmenu

    endmenu

endmenu
